@tailwind base; 
@tailwind components; 
@tailwind utilities; 

html, body {
	font-family: Helvetica, Arial, sans-serif;
	@apply w-full h-full bg-gray-300
}

input[type="range"] {
	-webkit-appearance: none;

	height: 2px;
	margin: 20px auto;

	background: black;
}

input[type="range"]::-moz-slider-thumb {
	background-color: black;
}

input[type="range"]::-moz-range-thumb {
	border: none;
	background-color: black;
}

input[type=range]::-webkit-slider-runnable-track {
	-webkit-appearance: none;

	height: 2px;
	margin: 20px auto;

	background-color: black;	
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;

	width: 15px;
	height: 15px;

	border: none;
	border-radius: 50%;
	
	margin: -6px 0px;

	padding: auto;

	background: black;
}

.floating-container {
	position: absolute;
	margin: 20px;
}

.title {
	display: flex;

	min-width: 240px;
	min-height: 60px;

	padding: 15px 20px;

	justify-content: center;
	align-items: center;

	background-color: #29AA5D;
	border: 2px solid #000;

	@apply floating-container
}

.title span {
	font-size: 25px;
	line-height: 1;
}

.settings {
	top: 0;
	right: 0;

	width: 280px;

	@apply floating-container
}

.settings .line, .settings .draw {
	border: 2px solid black;
}

.settings .line {
	background-color: #03BEDE;
}

.settings .draw {
	background-color: #E16AB7;
}

.settings > button {
	background-color: #29AA5D;
}

.info {
	bottom: 0;

	padding: 8px;

	background-color: #F9E80A;
	border: 2px solid #000;

	@apply floating-container
}