@tailwind base; 
@tailwind components; 
@tailwind utilities; 

html, body {
	font-family: Helvetica, Arial, sans-serif;
	background-color: #E4D9D2;

	@apply w-full h-full
}

input[type="range"] {
	-webkit-appearance: none;

	height: 2px;
	margin: 20px 0px 20px 7x;

	background: black;
}

input[type="range"]::-moz-slider-thumb {
	background-color: black;
}

input[type="range"]::-moz-range-thumb {
	border: none;
	background-color: black;
}

input[type=range]::-webkit-slider-runnable-track {
	-webkit-appearance: none;

	height: 2px;
	margin: 20px auto;

	background-color: black;	
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;

	width: 15px;
	height: 15px;

	border: none;
	border-radius: 50%;
	
	margin: -6px 0px;

	padding: auto;
	border-radius: 50%;

	background: black;
}

input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  
  /* Remove most all native input styles */
  appearance: none;
  
  /* For iOS < 15 */
  background-color: transparent;

  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  width: 1.15em;
  border: 0.15em solid black;
  
  border-radius: 50%;

  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  
  border-radius: 50%;

  transform: scale(0);
  transition: 120ms transform ease-in-out;
  
  box-shadow: inset 1em 1em var(--form-control-color);

  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

.floating-container {
	position: absolute;
	margin: 20px;
}

.title {
	display: flex;

	min-width: 240px;
	min-height: 60px;

	padding: 15px 20px;

	justify-content: center;
	align-items: center;

	background-color: #2CA455;
	border: 2px solid #000;

	@apply floating-container
}

.title span {
	font-size: 25px;
	line-height: 1;
}

.settings {
	top: 0;
	right: 0;

	width: 280px;

	@apply floating-container
}

.settings .controls .input-group {
	display: flex;
	align-items: center;

	height: 45px;
}

.settings .controls .input-group input {
	flex: 1;
	width: 100%;
}

.settings .controls .input-group label {
	width: 75px;
}

.settings .line, .settings .draw {
	border: 2px solid black;
}

.settings .line {
	background-color: #3999F2;
}

.settings .draw {
	background-color: #EA98FF;
}

.settings button {
	padding: 5px 0px;
	background-color: #2CA455;
}

.info {
	bottom: 0;

	background-color: #BD946F;
	border: 2px solid #000;

	@apply floating-container
}

.info-container {
	margin: 20px;

	width: 100%;
	height: 100%;

	border: 2px solid #000;
	outline: none;

	background-color: #BD946F;
}